* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(-45deg, #ae7ce7, #ffe7ec, #FFFAD2, #ff9efa);
    background-size: 400% 400%;
    animation: aurora 5s ease infinite;
}

@keyframes aurora {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#confirmacao{
    display: none;
    position: fixed;
    height: 50px;
    width: 80%;
    top: 0%;
    background-color: rgb(217, 174, 236);
    border: 2px solid rgb(82, 38, 95);
}

label{
    font-family: Afacad, Arial;
    font-size: 18px;
    display: block;
    font-weight: 400;
}

h3{
    color: rgb(0, 185, 130);
    font-family: Afacad, Arial;
    font-size: 42px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form{
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0, 185, 130);
    transform: translateX(50%);
    right: 50%;
    width: 50%;
    gap: 20px;
    text-align: left;
    border-radius: 20px;
    padding: 30px 20px;
}

input{
    height: 27px;
    width: 100%;
}

#nome_campo{
    grid-column: 1 / 3;
}

#enviar{
    margin-top: 10px;
    width: 100% !important;
    background-color: rgb(180, 255, 232);
    border: 2px solid rgb(0, 185, 130);
    font-family: Afacad, Arial;
    font-size: 16px;
    height: 35px !important;
    transition: 0.3s;
    grid-column: 1 / 3;
}

#enviar:hover{
    background-color: rgb(0, 117, 72);
    color: white;
    transition: 0.3s;
}

